@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root{
  --material-black:#292929;
  --royal-yellow:#fada5e;
}

* {
  margin: 0;
  font-family: "Poppins";
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
}

body{
  width: 100vw;
  overflow-x: hidden;
}


.header{
  width: 100vw;
  height: 4rem;
  position: fixed;
  background-color: var(--royal-yellow);
  z-index: 999;
  display: flex;
  flex-direction: column
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar--logo{
  margin: 1rem;
}


.navbar--logo img{
  height: 52px;
}


.main--container{
  transform: translateY(4rem);
  width: 100vw;
}

.tabel--container{
  width: 100%;
}

.wrapper{
  width: 100%;
}

.row-fadeIn-wrapper{
  display: flex;
  flex-direction: column-reverse;
}

.title{
  background-color: var(--material-black);
  color: #fff;
}

.title ul li{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade--in{
  transition: all .3s ease-out;
}

.fade--in:hover{
  box-shadow: 0px 0px 70px -13px rgba(66, 68, 90, 1);
}

.row ul{
  display: flex;
  gap: 1rem;
}



.row ul li{
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 ;
}

.row ul li p{
  width: min-content;
}

.id--column{
  width: 4rem !important;
}

.date--column{
  width: 150px !important;
}

.more--content{
  overflow: hidden;
  max-height: 0;
  display: flex;
  transition: all .5s ease-in-out;
}

.more--content li{
  display: flex;
  gap: 1rem;
  min-width: 200px;
}

.more--content li img{
  height: 2rem;
}
ul:hover + .more--content,
.more--content:hover{
  max-height: 200px;
}

.more--content{
  display: flex;
  justify-content: space-between;
}



.delete--button{
  background-color: #f14245;
  border-radius: 1rem;
  color: #fff;
  margin: 1rem;
  cursor: pointer;
  height: 3rem;
  width: 200px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-width: 200px;
}

input[type="text"], input[type="password"]{
  font: 20px "Poppin", sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}

:focus {
  outline: none;
}

.input--container {
  width: 100%;
  margin: 2rem 0 2rem 0;
  position: relative;
  overflow: hidden;
  z-index: 2;
} 

.input--field{
  border: 0;
  padding: 5px 0;
  border-bottom: 4px solid var(--material-black);
  background-color: transparent;
}

.input--field ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: var(--material-black);
  transition: 0.4s;
}


.input--field:focus ~ .focus-border,
.input--field:valid ~ .focus-border {
  width: 100%;
  transition: 0.4s;
}


.input--field ~ label {
  position: absolute;
  left: 0;
  width: 100%;
  top: 4px;
  color: var(--material-black);
  transition: 0.3s;
  z-index: -1;

}


.input--field:focus ~ label,
.input--field:valid ~ label {
  left: -200px;
  font-size: 14px;
  color: var(--material-black);
}

.hide--button{
  background-color: var(--royal-yellow);
  border-radius: 1rem;
  color: var(--material-black);
  margin: 1rem;
  cursor: pointer;
  height: 3rem;
  width: 200px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-width: 200px;
}

.rating{
  display: flex;
}

.rating p{
  color: #F2D300;
  font-size: 2rem;
  height: min-content;
}

.rating p.filled::before{
  content: "\2605";
  position: absolute;
}
