@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400');

:root {
  --material-black: #292929;
  --royal-yellow: #fada5e;
}

* {
  margin: 0;
  font-family: "Poppins";
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.header{
  width: 100vw;
  height: 4rem;
  position: fixed;
  background-color: var(--royal-yellow);
  z-index: 999;
  display: flex;
  flex-direction: column
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar--search{
  max-width: 500px;
  width: 50%;
}

.navbar div {
  margin: 1rem;
}

.navbar--logo{
  margin: 1rem;
}

.navbar--logo img {
  height: 52px;
}
.logo{
  display: none;
}
.icon{
  display: initial;
}
input[type="text"],
input[type="password"] {
  font: 18px "Poppin", sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}

:focus {
  outline: none;
}

.input--container {
  width: 100%;
  margin: 2rem 0 2rem 0;
  position: relative;
  overflow: hidden;
} 


.input--field {
  border: 0;
  padding: 5px 0;
  border-bottom: 3px solid #fff;
  background-color: transparent;
}

.input--field ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: var(--material-black);
  transition: 0.4s;
}

.input--field:focus ~ .focus-border,
.input--field:valid ~ .focus-border {
  width: 100%;
  transition: 0.4s;
}

.input--field ~ label {
  position: absolute;
  left: 0;
  width: 100%;
  top: 4px;
  color: #aaa;
  transition: 0.3s;
  z-index: -1;
}

.input--field:focus ~ label,
.input--field:valid ~ label {
  left: -300px;
  font-size: 14px;
  color: var(--material-black);
}

.search--area{
  background-color: var(--material-black);
  position: relative;
  display: flex;
  width: 60%;
  justify-self: center;
  align-self: center;
  border-radius: 0 0 2rem 2rem;
  height: 60vw;
}

.list--of--results{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  height: 100%;
}

.result{
  margin: 1rem;
}

.list--of--results > a{
  text-decoration: underline;
}

.list--of--results a{
  color: #fff;
  font-size: larger;
  align-self: center;
  justify-self: center;
  margin: 1rem;
}

.result--info {
  width: 70%;
}

.result--info h3{
  color: var(--royal-yellow);
}

.result--info p{
  color: #fff;
}

.result a{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  text-decoration: none !important;
}

.result a img{
  height: 200px;
  box-shadow: 0px 22px 53px -14px var(--royal-yellow);
}

.navbar--user {
  display: flex;
  gap: 1.5rem;
  margin-right: 3rem !important;
}

.navbar--user a {
  color: var(--material-black);
  position: relative;
  text-decoration: none;
  font-size: larger;
}

.navbar--user a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--material-black);
  bottom: -3px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navbar--user a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.main--container {
  transform: translateY(4rem);
}

.backdrop--container {
  width: 100vw;
  height: 560px;
  display: flex;
  justify-content: center;
  background-color: #000000;
}

.backdrop {
  width: min-content;
  height: 560px;
  position: relative;
  
}

.backdrop:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0px 0px 50px 53px #000000;
}

.backdrop img {
  height: 100%;
  z-index: -1;
}

.backdrop .backdrop--info {
  position: absolute;
  color: #fff;
  bottom: 2rem;
  left: 2rem;
}

.main--info--container {
  width: 100vw;
  height: max-content;
  display: flex;
  justify-content: center;
  padding: 3rem 0 3rem 0;
}

.main--info {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 4rem;
}

.main--info img {
  height: 400px;
  width: auto;
}

.main--info .info {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 1rem;
  font-family: "Bitter", sans-serif;
}

.main--info .info p, .overview--alt{
  display: flex;
  gap: 2rem;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: medium;
  font-family: "Bitter", sans-serif;
  line-height: 1.5rem;
  color: #9e9e9e;
}
.info p h3 {
  color: #000000;
  font-size: medium;
  font-family: "Bitter", sans-serif;
}


.comments--container{
  width: 100vw;
  height: 400px;
  display: flex;
  justify-content: center;
}

.comments--section{
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.upload--comment .input--container{
  margin: 0;
  height: max-content;
}

.upload--comment .input--container .input--field {
  border-bottom: 3px solid #9e9e9e;
}

.submit--button input{
  background-color: var(--material-black);
	color: #fff;
  margin: 1rem 0 1rem 0;
  border: none;
	padding: .5rem 2rem;
	font: inherit;
	cursor: pointer;
  border-radius: 1rem;
}

.radio--field {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  width: min-content;
}


.radio--field >  input{ display:none;}

.radio--field > label {
  position: relative;
  width: 1.1em;
  font-size: 3rem;
  color: #FFD700;
  cursor: pointer;
}

.radio--field > label::before{ 
  content: "\2605";
  position: absolute;
  opacity: 0;
}

.radio--field > label:hover:before,
.radio--field > label:hover ~ label:before {
  opacity: 1 !important;
}

.radio--field > input:checked ~ label:before{
  opacity:1;
}

.radio--field:hover > input:checked ~ label:before{ 
  opacity: 0.4; 
}

.comments{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.overview--alt{
  display: none;
}

.container--info{
  display: flex;
  gap: 2rem;
  width: 100%;
}

.username{
  font-weight: 800;
  font-size: larger;
}

.comment .info{
  display: flex;
  gap:  1rem;
  align-items: center;
}

.username,
.date{
  height: min-content;
}


.rating{
  display: flex;
}

.rating p{
  color: #FFD700;
  font-size: 2rem;
  height: min-content;
}

.rating p.filled::before{
  content: "\2605";
  position: absolute;
}

.date{
  opacity: 0.5;
}

.admin--tool{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1rem;
}

.admin--tool p{
  opacity: 0.5;
}

.admin--pop--up{
  display: none;
  height: min-content;
  gap: 1rem;
}

.admin--tool label{
  height: 2rem;
  opacity: 0.5;
  cursor: pointer;
}

.admin--pop--up .input--container{
  margin: 0 !important;
  width: 280px;
  height: min-content;
}

#checkbox{
  display: none;
}

#checkbox:checked + .admin--pop--up{
  display: flex;
  align-items: center;
}

.confirm--button{
  height: 3rem;
  background-color: var(--material-black);
	color: #fff;
  text-align: center;
  border: none;
	font: inherit;
	cursor: pointer;
  border-radius: .5rem;
  padding: 0 .5rem;
}

.admin--tool img{
  height: 2rem;
}

.icon{
  display: none;
}

.logo{
  display: initial;
}

@media (max-width: 1500px) {
  .info .overview{
    display: none !important;
  }

  .overview--alt{
    display: initial !important;
  }

  .main--info{
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1090px) {
  .main--info{
    width: 80% !important;
  }

  .backdrop--container{
    height: min-content;
  }
  .backdrop{
    height: min-content;
    background-color: #fff;
  }
  .backdrop img{
    width: 100vw;
    height: initial;
    overflow: hidden;
  }

  .main--content{
    width: 100%;
  }

  .logo{
    display: none;
  }
  .icon{
    display: initial;
  }

  .trendingMovie h1{
    font-size: medium;
    bottom: 0;
  }

  .navbar--search{
    max-width: 300px;
  }
  .search--area{
    width: 80%;
  }

  .comments--section{
    width: 80%;
  }

}

@media (max-width: 700px) {
  .navbar--user{
    margin: .5rem;
  }

  .navbar--user a{
    font-size: smaller;
    width: max-content;
  }

  .result--info p {
    display: none;
  }

  .search--area{
    height: 90vh;
  }
  .container--info{
    flex-direction: column;
  }
  .container--info img{
    width: 100%;
    height: initial;
  }

  .input--container{
    width: 90% !important;
  }
}

@media (max-width: 480px) {

  .backdrop--info h1{
    font-size: small;
  }

  .backdrop--info p{
    font-size: small;
  }

  .result a{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
  }
  
  .result a img {
    height: initial;
    width: 300px;
  }


  .result--info h3 {
    text-align: center;
  }

}