<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/admin_panel/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="icon" type="image/x-icon" href="../static/images/SotM-icon.svg">
  <title>Admin panel</title>
</head>
<body>
  <header class="header">
    <nav class="navbar">
      <div class="navbar--logo">
        <a href="/home">
        <img class="logo" src="../static/images/SotM-logo.webp" alt="SotM-logo" />
        </a>
      </div>
    </nav>
  </header>
  <div class="main--container">
    <div class="table--container">
      <section class="wrapper">
        <main class="row title">
          <ul>
            <li class="id--column"><h3>ID</h3></li>
            <li><h3>ID użytkownika (Nazwa użytkownika)</h3></li>
            <li class="date--column"><h3>Data</h3></li>
            <li><h3>Treść komentarza</h3></li>
            <li><h3>Ocena</h3></li>
            <li><h3>Widoczność</h3></li>
            <li><h3>Powód ukrycia</h3></li>
            <li><h3>Odnośnik do komentarza</h3></li>
          </ul>
        </main>
        <section class="row-fadeIn-wrapper">
          {% for comment in comments %}
            <article class="row fade--in">
              <ul>
                <li class="id--column"><p>{{comment.id}}</p></li>
                <li><p>{{comment.user_id}}</p></li>
                <li class="date--column"><p>{{comment.date}}</p></li>
                <li><p>{{comment.content}}</p></li>
                <li><div class="rating">
                  {% for star in range(comment.rate)%}
                    <p class="filled">☆</p>
                  {% endfor %}
                  {% set counter = 5 - comment.rate%}
                  {% for star in range(counter)%}
                    <p>☆</p>
                  {% endfor %}
                </div></li>
                <li><p>
                  {% if comment.is_hidden == True%}
                    Ukryty
                  {% else %}
                    Widoczny
                  {% endif %}
                </p></li>
                <li><p>{{comment.ban_reason}}</p></li>
                <li><a href="/{{comment.media_type}}/{{comment.media_id}}">Odnośnik</a></li>
              </ul>
              <ul class="more--content">
                <li><button class="delete--button" type="submit" value="{{comment.id}}"><h5>Usuń komentarz</h5> <img src="../static/admin_panel/trash.webp" alt=""></button></li>
                <li style="min-width: 600px;">
                <div class="input--container">
                  <input class="input--field" name="hide--reason" required="" type="text" value=""/>
                  <label>Powód ukrycia komentarza</label>
                  <span class="focus-border"></span>
                </div>
                <button class="hide--button" type="submit" value="{{comment.id}}"><h5>Ukryj komentarz</h5> <img src="../static/admin_panel/hidden.webp" alt=""></button>
                </li>
              </ul>
            </article>
          {% endfor %}
        </section>
      </section>
    </div>
  </div>
  <script src="../static/admin_panel/app.js"></script>
</body>
</html>