<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spotlight of the Movies</title>
    <script
      crossorigin
      src="https://unpkg.com/react@18/umd/react.development.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"
    ></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <link rel="stylesheet" href="../static/home/style.css" />
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <div class="navbar--logo">
          <img src="../static/home/SotM-logo.webp" alt="SotM-logo" />
        </div>
        <div class="navbar--search">
          <div class="input--container input-effect">
            <input
              class="input--field"
              id="register_firstname"
              name="register_firstname"
              required=""
              type="text"
              value=""
            />
            <label>Wyszukaj film lub serial</label>
            <span class="focus-border"></span>
          </div>
        </div>
        <div class="navbar--user">
          {%if not current_user.is_authenticated%}
          <a href="/register">Rejestracja</a>
          <a href="/login">Zaloguj się</a>
          {%endif%}
        </div>
      </nav>
    </header>
    <div class="main--container">
      <div class="main--content">
        <div class="random--movie" id="randomMovie">
        </div>
      </div>
    </div>

    <script src="../static/home/app.js" type="text/babel"></script>
    <script
      type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"
    ></script>
  </body>
</html>
