<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../static/images/SotM-icon.svg">
    <title>Spotlight of the Movies</title>
    <script
      crossorigin
      src="https://unpkg.com/react@18/umd/react.development.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"
    ></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <link rel="stylesheet" href="../static/home/style.css" />
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <div class="navbar--logo">
          <a href="/home">
          <img class="logo" src="../static/images/SotM-logo.webp" alt="SotM-logo" />
          <img class="icon" src="../static/images/SotM-icon.svg" alt="SotM-icon" />
          </a>
        </div>
        <div class="navbar--search"> 
          <div class="input--container">
            <input class="input--field" id="searchBar" class="search--bar" name="search--bar" required="" type="text" value=""/>
            <label>Wyszukaj film lub serial</label>
            <span class="focus-border"></span>
          </div>
        </div>
        <div class="navbar--user">
          {%if not current_user.is_authenticated%}
          <a class="user--register" href="/register">Rejestracja</a>
          <a class="user--login" href="/login">Zaloguj się</a>
          {%else%}
          <a class="user--logout" href="/logout">Wyloguj się</a>
          {%endif%}
        </div>
      </nav>
      <div class="search--area" id="searchArea">

      </div>
    </header>
    <div class="main--container" id="mainContainer">
      <div class="main--content">
        <div class="random--movie" id="randomMovie">
          
        </div>
        <div class="trending--movies" id="trendingMovies">
          
        </div>
      </div>
    </div>

    <script src="../static/home/app.js" type="text/babel"></script>
    <script
      type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"
    ></script>
  </body>
</html>
