<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../static/images/SotM-icon.svg">
    <title>Film</title>
    <script
      crossorigin
      src="https://unpkg.com/react@18/umd/react.development.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"
    ></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <link rel="stylesheet" href="../static/movie/style.css" />
    <link
      href="http://fonts.googleapis.com/css?family=Bitter&subset=latin,latin-ext"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <div class="navbar--logo">
          <a href="/home">
          <img class="logo" src="../static/images/SotM-logo.webp" alt="SotM-logo" />
          <img class="icon" src="../static/images/SotM-icon.svg" alt="SotM-icon" />
          </a>
        </div>
        <div class="navbar--search"> 
          <div class="input--container">
            <input class="input--field" id="searchBar" class="search--bar" name="search--bar" required="" type="text" value=""/>
            <label>Wyszukaj film lub serial</label>
            <span class="focus-border"></span>
          </div>
        </div>
        <div class="navbar--user">
          {%if not current_user.is_authenticated%}
          <a class="user--register" href="/register">Rejestracja</a>
          <a class="user--login" href="/login">Zaloguj się</a>
          {%else%}
          <a class="user--logout" href="/logout">Wyloguj się</a>
          {%endif%}
        </div>
      </nav>
      <div class="search--area" id="searchArea">

      </div>
    </header>
    <div class="main--container" id="mainContainer">
      <div class="backdrop--container" id="backdrop">

      </div>
      <div class="main--info--container" id="mainInfo">

      </div>
      <div class="comments--container">
        <div class="comments--section">
          {% if current_user.is_authenticated %}
          {% if comment_already_uploaded == False %}
          <div class="upload--comment">
            <form action="/film/{{movie_id}}" method="post">
              <h3>{{current_user.username}}</h3>
              <div class="radio--field">
                <input
                  id="comment_radio_field-4"
                  name="comment_radio_field"
                  required=""
                  type="radio"
                  value="5"
                />
                <label for="comment_radio_field-4">☆</label>
                <input
                  id="comment_radio_field-3"
                  name="comment_radio_field"
                  required=""
                  type="radio"
                  value="4"
                />
                <label for="comment_radio_field-3">☆</label>
                <input
                  id="comment_radio_field-2"
                  name="comment_radio_field"
                  required=""
                  type="radio"
                  value="3"
                />
                <label for="comment_radio_field-2">☆</label>
                <input
                  id="comment_radio_field-1"
                  name="comment_radio_field"
                  required=""
                  type="radio"
                  value="2"
                />
                <label for="comment_radio_field-1">☆</label>
                <input
                  id="comment_radio_field-0"
                  name="comment_radio_field"
                  required=""
                  type="radio"
                  value="1"
                />
                <label for="comment_radio_field-0">☆</label>
              </div>
              <div class="input--container input-effect">
                {{comment_forms.comment_stringfield(class="input--field")}}
                <label>Dodaj komentarz</label>
                <span class="focus-border"></span>
              </div>
              <div class="submit--button">
                {{comment_forms.comment_submit(value="Skomentuj")}}
              </div>
            </form>
          </div>
          {% else %}
          <div class="upload--comment">
            Zamieściłeś już komentarz pod tym serialem
          </div>
          {% endif %}
          {%else%}
          <div class="upload--comment">
            Zaloguj się by móc ocenić oraz napisać komentarz
          </div>
          {%endif%}

          <div class="comments">
            {% for comment in list_of_comments %}
            {% if comment.is_hidden == False%}
              <div class="comment">
                <div class="info">
                  <p class="username">{{user_id_to_username(comment.user_id)}}</p>
                  <div class="rating">
                    {% for star in range(comment.rate)%}
                      <p class="filled">☆</p>
                    {% endfor %}
                    {% set counter = 5 - comment.rate%}
                    {% for star in range(counter)%}
                      <p>☆</p>
                    {% endfor %}
                  </div>
                  <p class="date">{{comment.date.strftime('%d-%m-%Y')}}</p>
                  {% if current_user.is_authenticated and current_user.is_admin == True%}
                    <div class="admin--tool">
                      <input id="{{comment.id}}" class="checkbox" type="checkbox" name="">
                      <div class="admin--pop--up">
                        <div class="input--container input-effect">
                          <input class="input--field" id="adminReason" name="adminReason" required="" type="text" defaultValue="">
                          <label>Napisz powód ukrycia komentarza</label>
                          <span class="focus-border"></span>
                        </div>
                        <button value="{{comment.id}}" class="confirm--button">Zatwierdz</button>
                      </div>
                      <label for="{{comment.id}}"><img src="/static/tv_show/eye.png" alt=""></label>
                    </div>
                  {% endif %}
                </div>
                <div class="content">
                  <p>{{comment.content}}</p>
                </div>
              </div>
            {% else %}
              {% if current_user.is_admin or current_user.id == comment.user_id%}
                <div class="comment">
                  <div class="info">
                    <p class="username">{{user_id_to_username(comment.user_id)}}</p>
                    <div class="rating">
                      {% for star in range(comment.rate)%}
                        <p class="filled">☆</p>
                      {% endfor %}
                      {% set counter = 5 - comment.rate%}
                      {% for star in range(counter)%}
                        <p>☆</p>
                      {% endfor %}
                    </div>
                    <p class="date">{{comment.date.strftime('%d-%m-%Y')}}</p>
                    {% if current_user.is_admin %}
                      <p>Komentarz jest już ukryty</p>
                    {% endif %}
                    {% if current_user.id == comment.user_id%}
                      <p>Twój komentarz został usunięty, powód: {{comment.ban_reason}}</p>
                    {% endif%}
                  </div>
                  <div class="content">
                    <p>{{comment.content}}</p>
                  </div>
                </div>
              {% endif %}
            {% endif%}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <script src="../static/movie/app.js" type="text/babel"></script>
    <script
      type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"
    ></script>
  </body>
</html>
